[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
lib-py-notification = {editable = true, path="./", extras=["dev"]}


[packages]
lib-py-notification = {editable = true, path="./"}


[pipenv]
allow_prereleases = true

[requires]
python_version = "3.7"
